<header class="relative bg-blue-700 text-white px-4 py-3 flex justify-between items-center">
  <h1 class="text-lg font-bold">Mapas PWA</h1>
  <button (click)="menuAbierto = !menuAbierto" class="focus:outline-none hover:bg-blue-800 px-3 py-2 rounded">
    <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 6L20 6" stroke="skyblue" stroke-width="2"/>
      <path d="M4 12L20 12" stroke="yellow" stroke-width="2"/>
      <path d="M4 18L20 18" stroke="skyblue" stroke-width="2"/>
    </svg>
  </button>
  @if (menuAbierto) {
    <div class="fixed top-16 right-0 bg-white text-black z-[9999] rounded shadow-lg w-40">
      <a routerLink="/inicio" class="block px-4 py-2 hover:bg-blue-100">Inicio</a>
      <a routerLink="/historial" class="block px-4 py-2 hover:bg-blue-100">Historial</a>
      <a routerLink="/direcciones" class="block px-4 py-2 hover:bg-blue-100">Direcciones</a>
    </div>
  }
</header>
